.navbar {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  
  img {
    width: 30px;
  }

  &__links-container {
    display: none;
  }

}

@media (min-width: 900px) {
  .navbar {
    height: auto;
    padding: 0;
    font-weight: 500;
    font-size: 1.25rem;

    img {
      display: none;
    }

    &__links-container {
      display: block;
      padding: 27px 60px;
      display: flex;
      gap: 33px;
    }

    a {
      text-decoration: none;
      color: #000000;
    }
  }
}
