.home-container {
  color: #21243d;
  h2 {
    @extend %home-section-title;
    text-align: center;
  }
}

.home-section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 25px;

  &__image {
    width: 171px;
    margin-top: 33px;
    filter: drop-shadow(-12px 9px 0px #edf7fa);
  }

  &__text {
    h1 {
      font-size: 2rem;
      font-weight: 700;
      margin: 43px 11px 21px;
      line-height: 1.25;
    }

    p {
      @extend %home-article-preview;
      color: $color-dark-blue;
    }

    button {
      width: 208px;
      height: 47px;
      margin-bottom: 59px;
      font-size: 1.25rem;
      color: $color-white;
      background-color: $color-salmon;
      border: 0;
      border-radius: 2px;
    }
  }
}

.home-section-two {
  &__heading a {
    display: none;
  }
  &__articles__details {
    display: flex;
    gap: 10px;
    
    ul {
      display: flex;
    }
  }
}

.home-section-two,
.home-section-three {

  background-color: $color-ligth-blue;
  padding-bottom: 35px;

  &__articles {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  article {
    background-color: $color-white;
    margin: 0 10px;
    padding: 12px 19px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    h3 {
      @extend %home-article-title;
    }
  }
}

.home-section-three {
  background-color: $color-white;

  article {
    padding: 0;
    margin: 0 18px;
    border-bottom: 1px solid #e0e0e0;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;

    .home-section-two__articles__categories {
      display: flex;

      li:not(:last-child)::after {
        content: ",\00a0";
      }
    }
  }

  ul {
    display: flex;
    gap: 22px;
  }

  p {
    @extend %home-article-preview;
    margin-top: 12px;
  }
}

.badge-dark {
  border-radius: 16px;
  background-color: $color-dark-blue;
  color: $color-white;
  font-weight: 900;
  padding: 0 12px;
}

.text-gray {
  color: $color-gray;
  font-weight: 400;
}

@media (min-width: 900px) {

  .home-container h2 {
      text-align: start;
    }
  
  .home-section-one {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    text-align: start;
    padding-top: 127px;
    margin: 0 150px;

    &__image {
      width: 243px;
      margin-top: 0;
    }

    &__text {
      width: 506px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 40px;

      h1 {
        font-size: 2.75rem;
        font-weight: 700;
        margin: 0;
        line-height: 1.25;
      }

      p {
        @extend %home-article-preview;
        margin-bottom: 0;
      }

      button {
        width: 208px;
        height: 47px;
        margin-bottom: 59px;
        font-size: 1.25rem;
        color: $color-white;
        background-color: $color-salmon;
        border: 0;
        border-radius: 2px;
      }
    }
  }

  .home-section-two,
  .home-section-three {
    padding: 0 148px 32px;
    height: fit-content;

    &__heading {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        display: inline-block;
        text-decoration: none;
        color: $color-turquoise;
      }
    }

    article {
      margin: 0;
    }

    &__articles {
      flex-direction: row;

      article {
        margin: 0;

        h3 {
          font-size: 1.625rem;
        }
      }
    }
  }

  .home-section-three {
    article:not(:first-child) {
      flex-direction: row;
      padding-bottom: 15px;
      margin-top: 25px;

      &:first-of-type {
        margin-top: 0;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          margin: 0;
        }
      }
    }

    img {
      width: 246px;
      height: 180px;
    }
  }
}
