.work-container {
  h1 {
    margin: 24px 18px 13px;
    line-height: 60px;
    font-size: 1.875rem;
    font-weight: 700;
  }

  h3 {
    margin: 5px 0 16px;
  }

  p {
    margin: 12px 0 17px;
  }

  img {
    margin-top: 22px;

    &.remove-top-margin {
      margin-top: 0;
    }
  }
}

@media (min-width: 900px) {
  .work-container {
    margin: 0 87px;

    h1 {
      margin-left: 148px;
    }
    .home-section-three {
      article {
        flex-direction: row;
        padding-bottom: 52px;
        margin-top: 25px;

        div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          p {
            margin: 0;
          }
        }

        img {
          margin: 0;
        }

        h3 {
          margin: 0;
        }
      }
    }
  }
}
